.ais-Hits-list {
  margin-top: 1rem;
}

.ais-Hits-item {
  padding: 0;
  margin-bottom: 10px;
  box-shadow: none;
  background: none;
}

.ais-SearchBox-input,
.ais-SearchBox-form {
  background-color: var(--color-grey-200);
  color: var(--color-grey-800);
}
