.button {
  $this: &;

  display: inline-block;
  color: #fff;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: 0.3s scale;

  &:hover {
    scale: 1.03;
  }

  &_default {
    color: var(--color-grey-900);
    background: var(--color-grey-300);
  }

  &_primary {
    background: var(--primary-color);
  }

  &_secondary {
    background: var(--secondary-color);
  }

  &_danger {
    background: var(--color-red-500);
  }

  &_success {
    background: var(--color-green-500);
  }

  &_transparent {
    color: var(--color-grey-900);
    background: transparent;
  }

  &_ghost {
    background: transparent;
    color: var(--color-grey-800);
    border: 1px solid var(--color-grey-400);
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &_active {
    pointer-events: none;
    background: var(--primary-color);
    color: #fff;
  }

  &_sm {
    padding: 5px 20px;
    font-size: 0.85rem;
  }

  &_md {
    padding: 7px 25px;
    font-size: 1rem;
  }

  &_lg {
    padding: 9px 30px;
    font-size: 1.1rem;
  }

  &_iconOnly {
    padding: 0.5rem;
    line-height: 1;
  }

  &_pressed {
    scale: 1.03;
  }
}
