@use "colors";

$primary-color-light: #5faaf8;
$primary-color-dark: #278ffc;

$shared: (
  container-size: 1300px,
);

$light: (
  color-white: #fff,
  color-black: #000,
  primary-color: $primary-color-dark,
  foreground: rgb(0, 0, 0),
  hero-bg-image: url("/hero-light.jpg"),
  hero-bg: linear-gradient(to bottom, #fff0, #fffc 60%, #f8f9fa),
);

$dark: (
  color-white: #000,
  color-black: #fff,
  primary-color: $primary-color-light,
  foreground: rgb(255, 255, 255),
  hero-bg-image: url("/hero-light.jpg"),
  hero-bg: linear-gradient(to bottom, #fff0, rgba(28, 28, 28, 0.8) 30%, #070605),
);

@each $name, $color in colors.$colors {
  $light: map-merge(
    $light,
    (
      $name: $color,
    )
  );
}

@each $name, $color in colors.$reversed-colors {
  $dark: map-merge(
    $dark,
    (
      $name: $color,
    )
  );
}
