@use "colors";

$primary-color-light: #5faaf8;
$primary-color-dark: #1462b4;

$shared: (
  container-size: 1360px,
);

$light: (
  color-white: #fff,
  color-black: #000,
  primary-color: $primary-color-dark,
  hero-bg-image: url("/hero-dark.jpg"),
);

$dark: (
  color-white: #000,
  color-black: #fff,
  primary-color: $primary-color-light,
  hero-bg-image: url("/hero-dark.jpg"),
);

@each $name, $color in colors.$colors {
  $light: map-merge(
    $light,
    (
      $name: $color,
    )
  );
}

@each $name, $color in colors.$reversed-colors {
  $dark: map-merge(
    $dark,
    (
      $name: $color,
    )
  );
}
