@use "theme" as theme;
@use "mixins" as mixins;
@import "shame";

:root {
  @include mixins.apply-theme(theme.$shared);
  @include mixins.apply-theme(theme.$light);
}

[data-theme="light"] {
  @include mixins.apply-theme(theme.$light);
}

[data-theme="dark"] {
  @include mixins.apply-theme(theme.$dark);
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 300;
  line-height: 1.35;
}

body {
  color: var(--color-grey-800);
  background: var(--color-grey-100);
  display: flex;
  flex-flow: column;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

li {
  margin-bottom: 0.4em;
}

h2 {
  color: var(--color-blue-900);
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--color-grey-300);
  margin-top: 2em;
}

strong {
  color: var(--color-grey-900);
  font-weight: bolder;
}

ul[class],
li[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
