@use "@/styles/mixins" as mixins;

.postCard {
  display: block;
  background: var(--color-grey-200);
  border: 1px solid var(--color-grey-400);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.25s scale;

  &__article {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3/1.7;
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.35rem;
    color: var(--color-primary);
  }

  &__subTitle {
    font-style: italic;
    color: var(--color-grey-900);
    font-size: 0.9rem;
    margin-top: 0;
  }

  &__content {
    padding: 1rem 0.8rem;
  }

  &__excerpt {
    font-size: 1rem;
    color: var(--color-grey-700);
    @include mixins.textOverflow(3);
  }

  &:hover {
    scale: 1.01;
  }
}
