.article {
  display: flex;
  gap: 15px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 15px;
}

.article__imgWrap {
  max-height: 60dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__img {
  width: 100%;
  height: auto;
}

.article__contentWrap {
  width: 100%;
}

.article__meta {
  padding-top: 5rem;
  min-width: 320px;
}
