.postsFeed {
  padding-top: 2rem;

  &__footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__footerInfo {
    font-size: 1.15rem;
    font-style: italic;

    span {
      color: var(--primary-color);
    }
  }
}
