.article {
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 3rem 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  &__header,
  &__meta,
  &__content,
  &__imgWrap {
    grid-column: 1 / -1;
  }

  @media (min-width: 960px) {
    grid-template-columns: 1fr 320px;

    &__imgWrap {
      grid-column: 1 / 2;
    }

    &__meta {
      grid-column: 2 / 3;
      grid-row: 2 / span 2;
    }

    &__content {
      grid-column: 1 / 2;
    }
  }

  &__scientificName {
    font-style: italic;
    font-weight: 400;
    text-wrap: nowrap;
    font-size: 0.85em;
    color: var(--color-grey-600);
  }

  &__imgWrap {
    max-height: 60dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  h1 {
    padding-left: 25px;
    position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      background: var(--primary-color);
      width: 5px;
      left: 0;
      height: 100%;
    }
  }
}
